<div class="newWorld">
    <button ng-click="toggleRightMenu()" class="button icon ion-ios-settings-strong rightBtn smallBtn"></button>
    <button ng-click="" class="button icon ion-ios-timer leftBtn smallBtn"></button>
</div>
<!-- 
    <div ng-hide="rightMenu" ng-model="onScreenTimer" ng-bind="onScreenTimer" class="picTimer"></div>
-->
<button ng-click="takePicture()" ng-model="onScreenTimer" class="button cameraBtn">
    <i ng-hide="isTakingPictures" class="icon ion-ios-camera-outline"></i>
    <span ng-show="isTakingPictures">{{ onScreenTimer }}</span>
</button>