<div class="newWorld">
    <button ng-click="toggleRightMenu()" ng-hide="isTakingPictures" class="button icon ion-ios-settings-strong rightBtn smallBtn"></button>
    <button ng-click="toggleShutterSettings()" ng-hide="isTakingPictures" class="button icon ion-ios-timer leftBtn smallBtn"></button>
    <button ng-click="cameraTogglePause()" ng-show="isTakingPictures" class="button icon ion-ios-pause leftBtn smallBtn"></button>
    <button ng-click="cameraAbort()" ng-show="isTakingPictures" class="button icon ion-close-round rightBtn smallBtn"></button>
</div>
<button ng-click="takePicture()" ng-model="onScreenTimer" class="button cameraBtn">
    <i ng-hide="isTakingPictures" class="icon ion-ios-camera-outline"></i>
    <span ng-show="isTakingPictures && params.shutterActivation=='timer'" ng-bind="onScreenTimer"></span>
    <i ng-show="isTakingPictures && params.shutterActivation=='motion'" class="icon ion-android-walk"></i>
</button>